<div class="container wrapper home__container">

    <h1 class="home__heading--1">Semestra nära hemmet i år</h1>
    <h2 class="home__heading--2">Ett mysigt boende på Lisö endast en timme ifrån Stockholm</h2>

    <p class="home__paragraph">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo nemo enim aperiam, debitis corporis facilis vel eaque, molestias porro quaerat accusantium, ipsam ad eveniet quis incidunt dolor necessitatibus vero sint at animi magni? Neque nesciunt earum, ea id sequi a dolorem assumenda dolor natus cupiditate fugiat rem, aut asperiores quaerat eum eaque itaque omnis facilis aliquid, animi autem aliquam magni quae? Dignissimos maxime facere porro voluptatum voluptas amet sapiente perspiciatis praesentium, ratione, odit dolore similique facilis earum! Sequi rem quam, voluptatibus cumque itaque perspiciatis quia, similique dolor deleniti quidem iusto totam optio ex vel accusantium nemo? Asperiores nemo modi consectetur?
    </p>

    <div style="display: flex; justify-content: center;">
        <a href="/login" class="button-primary">Logga in</a>
        <a href="/register" class="button-primary">Registrera dig</a>
        <a href="/gallery" class="button-primary">Bilder</a>
        <a href="/register" class="button-primary">Boka!</a>
    </div>
    
    {{!-- {{#each articles}}

        <a href="/games/{{this._id}}">
            <div class="item">
                <div class="top">
                    <div class="title">{{this.title}}</div>
                </div>
                <div class="content">
                    {{this.review}}
                </div>
                <div class="bottom">
                    <div class="rating">
                        <span>Rating:</span>{{this.rating}}/10
                    </div>
                </div>
            </div>
        </a>
    {{/each}} --}}
</div>